@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  box-sizing: border-box;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

.logo {
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    max-width: 400px;
    margin:0 auto;
    position: relative;
    justify-content: center;

}

.animationMobil {
  display: none;
}

.nLogo {
  width: 100%;
  max-width: 20px;
  height: 100%;
  background-color: #b12025;
  position: relative;
  top: 0;
  left: -6%;
  border-bottom-right-radius:10px;
  animation: animationOpacity 1s ease forwards;
}

.nLogo::before {
  width: 20px;
  height: 100%;
  background-color: #b12025;
  position: absolute;
  content: '';
  left: 36px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:3px;
}

.nLogo span {
  background-color: #e61325;
  width: 20px;
  height: 100%;
  left: 20px;
  position:absolute;
  transform: skew(20deg);
  border-bottom-left-radius:10px ;
  box-shadow: 0 0 10px -4px #222;
}

.eLogo {
  position: relative;
  height: 100%;
  width: 20px;
  background-color: #e61325;
  left:50px;
  animation: animationOpacity 1s ease forwards;
  opacity: 0;
  animation-delay: 0.5s;
}

.eLogo span {
  background-color:#b12025;
  width: 100%;
  height: 20%;
  top:40%;
  left: 20px;
  position: absolute;
}

.eLogo span::before {
  background-color: #e61325;
  box-shadow: 0 0 10px -4px #222;
  width: 200%;
  height: 100%;
  top:-200%;
  left: -20px;
  position: absolute;
  content: '';
}

.eLogo span::after {
  background-color:#b12025;
  width: 100%;
  height: 100%;
  top:200%;
  position: absolute;
  content: '';
  border-bottom-right-radius: 10px ;
}

.tLogo {
  width: 20px;
  height: 100%;
  box-shadow: 0 0 10px -4px #222;
  background-color:#b12025;
  position: relative;
  left: 95px;
  animation: animationOpacity 1s ease forwards;
  opacity: 0;
  animation-delay:0.6s ;
}

.tLogo::before {
  width: 210%;
  height: 20%;
  background-color: #e61325;
  position: absolute;
  content: '';
  left: -10px;
}

.fLogo {
  width: 20px;
  height: 100%;
  position:relative;
  background-color: #e61325;
  left: 120px;
  animation: animationOpacity 1s ease forwards;
  opacity: 0;
  animation-delay:0.7s ;
}

.fLogo span {
  width: 100%;
  height: 20%;
  top:40%;
  left: 20px;
  position: absolute;
  background-color:#b12025;
}

.fLogo span::before {
  width: 200%;
  height: 100%;
  top:-200%;
  left:-20px;
  position: absolute;
  background-color: #e61325;
  box-shadow: 0px 0px 10px -4px #444;
  content: '';
}

.lLogo {
  position: relative;
  width: 20px;
  height: 100%;
  background-color: #e61325;
  box-shadow: 0px 0px 10px -4px #444;
  left: 155px;
  animation: animationOpacity 1s ease forwards;
  opacity: 0;
  animation-delay:0.8s ;
}

.lLogo::after {
  width: 200%;
  height: 20%;
  top:80%;
  background-color:#b12025;
  position: absolute;
  content: '';
}

.iLogo {
  position: relative;
  width: 20px;
  height: 100%;
  background-color: #e61325;
  box-shadow: 0px 0px 10px -4px #444;
  left: 185px;
  animation: animationOpacity 1s ease forwards;
  opacity: 0;
  animation-delay:0.9s ;
}

.xLogo {
  width: 20px;
  height: 100%;
  background-color: #e61325;
  box-shadow: 0px 0px 10px -4px #444;
  position:relative;
  left: 220px;
  transform: skew(-20deg);
  animation: animationOpacity 1s ease forwards;
  opacity: 0;
  animation-delay:1s ;
}

.xLogo::after {
  width: 20px;
  height: 100%;
  background-color: #e61325;
  box-shadow: 0px 0px 10px -4px #444;
  position:absolute;
  left: 0px;
  transform: skew(40deg);
  content: '';
}
.animationLogo{
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  animation: animationLogo 1.5s ease-in-out forwards;
  animation-delay: 2.3s;
  position:fixed;
  top:0;
  z-index: 1000;
}

/* user card */
.user {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.titleUser {
  width: 100%;
  padding-top:0px;
  padding-bottom:0px;
  color:white;
}
.titleUser h1 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.interfaceUser {
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-rows: 25% 65%;
}

#showCardUser {
  display: grid;
  width: 80%;
  margin:0 auto;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-column-gap: 10px;
  align-items: center;
}

.cardUser {
 max-width: 150px;
 min-width: 130px;
  color:white;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.cardUser img {
  width: 100%;
  height: 100%;
  max-height: 150px;
  border:3px solid black;
}

.cardUser img:hover {
  border:3px solid white;
}

.buttonShowCardUser {
  width: 100%;
  padding-top: 20px;
  padding-bottom:10px;
  text-align: center;
}

.buttonShowCardUser button {
  padding:10px 30px 10px 30px;
  text-transform: uppercase;
  border:3px solid white;
  color:white;
  background-color: #221f1f;
  font-size: 1em;
  cursor: pointer;
}

.editCardUser {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  top:0;
}

.editCardUser img {
  width: 30%;
  height: 30%;
  border: 2px solid white;
}

.editCardUser div {
  width: 100%;
  height: 96%;
  background-image: url('/edit.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30%;
  border: 3px solid black;
  background-color: rgba(0, 0, 0, 0.2);
}

.editCardUser div:hover {
  border: 3px solid white;
}


.nav {
  width: 100%;
  display: grid;
  align-self: flex-start;
  padding-top:20px;
  padding-bottom:10px;
  grid-template-columns: 50% 50%;
  position: relative;
}

#logoNav {
  width: 50%;
  padding-left: 1%;
  display: flex;
  align-items: center;
}

#logoNav img {
  width: 100%;
  height: 100%;
  max-height: 34px;
  max-width: 34px;
}
.admin {
  display: flex;
  justify-content: flex-end;
}
#admin {
 display: grid;
 width: 100%;
  grid-template-columns: 50% 50%;
  max-width: 100px;
  min-width: 100px;
  color:white;
  cursor: pointer;
}

#admin span {
  display: flex;
  align-items: center;
}
#admin p {
  font-size: 1.1em;
}

.adminImg img {
  max-width: 36px;
  max-width: 36px;
}


/* edit user */
.editUser {
  background-color:black;
  color:white;
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100vh;
  
}

.editNav {
  display: grid;
  width: 98%;
  margin:0 auto;
  align-items: center;
  padding-top: 10px;
  grid-template-columns: 50% 50%;
}

.editBack div{
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  max-width: 300px;
}

.editBack h2 {
  font-size: 1em;
}

.editBack img {
  width: 100%;
  max-width: 20px;
}

.editCheck div {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  max-width: 260px;
  width: 100%;
  justify-content: flex-end;
  cursor: pointer;
}

.editCheck a {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.editCheck {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.editCheck div span {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  max-width: 170px;
}

.editCheck div span img {
  width: 100%;
  max-width: 20px;
}

.editUserBody {
  height: 80%;
  display: grid;
  grid-template-columns: 90%;
  align-items: center;
  justify-content: center;
}

#editUserBody {
  display: grid;
  grid-template-columns: 40% 60%;
  max-width: 340px;
  margin:0 auto;
}

.editUserImg {
  position: relative;
  z-index: 100;
}

.editUserImg img {
  width: 100%;
  max-height: 260px;
}

.editUserEdit {
  position:absolute;
  top:54%;
  left: 2%;
  width:20%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2px;
  border:1px solid white;
  min-width: 30px;
}

.editUserEdit img {
  width: 100%;
}

#editUserImg {
  position:absolute;
  display: grid;
  grid-template-columns: 70px 70px 70px 70px;
  justify-content: space-evenly;
  padding: 10px;
  border:1px solid white;
  height: auto;
  transition: all 0.5s;
  width: 250%;
  max-width: 340px;
}

#editUserImg img {
  max-height: 50px;
  width: 100%;
  border:2px solid black;
  transition: all 0.5s ;
}

#editUserImg img:hover {
  border:2px solid white;
}

.editUserInput input {
  width: 80%;
  margin-left: 10%;
  padding-left: 10px;
  background-color: transparent;
  border:2px solid rgba(255, 0, 255, 0.712);
  color:white;
  padding: 6px 10px 6px 10px;
  outline-width: 1px solid fuchsia;
  outline-color: white;
  font-size: 0.9em;
}

.switch {
  padding-top: 10px;
  width: 80%;
  margin:0 auto;
  display: grid;
  align-items: center;
  font-size: 1.2em;
  grid-template-columns: 25% 75%;
}

#switch span {
  cursor: pointer;
  transition: all 0.6s;
}

.userMovies {
  background-size: cover;
  background-color: black;
}

.userMovies .nav {
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  grid-template-columns: 50% 50%;
  padding-left: 2%;
  padding-right: 2%;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.0);
  color:white;
  padding: 0px;
  z-index: 100;
}

.userMovies .logoNav {
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
}

#activeNav .nav{
  background-color: black;
}

.userMovies .logoNav {
  display: grid;
  grid-template-columns: 20% 80%;
}

/* menuMobile */
.menuMobile {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.hambu {
  width:30px;
  margin: 0 auto;
  height: 2px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}

.hambu::after {
  content: "";
  position: absolute;
  top:-8px;
  width: 100%;
  height: 100%;
  background-color:white;
  border-radius: 10px;
}

.hambu::before {
  content: "";
  position: absolute;
  top:8px;
  width: 100%;
  height: 100%;
  background-color:white;
  border-radius: 10px;
}

.menuMobileContainer {
 position: fixed;
 width: 100%;
 top: 0;
 left: 0;
 z-index: 10;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.3);
}

#menuMobileContainer {
  width: 16%;
  height: 200%;
  overflow: hidden;
  background-color: #292929;
  min-width: 240px;
}


.search {
  display: flex;
  justify-content: flex-end;
}

.menuMobileUser {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

.menuMobileUser p {
  padding-left: 22%;
  font-size: 1.2em;
}

.menuMobileUserImg img {
  width: 100%;
  margin: 0 auto;
}

.menuMobileUserChange {
  display: flex;
  justify-content: flex-end;
}

.menuMobileUserChange img {
  max-width: 36px;
}

.menuScroll {
  height: 100%;
}

.menuScroll p {
  margin: 0px;
  cursor: default;
}

.menuScroll:hover {
  overflow-y: scroll;
}

.notications {
  min-height: 64px;
  display: grid;
  grid-template-columns: 82% 18%;
  align-items: center;
  border-bottom: 2px solid black;
}

.notications p {
  padding-left: 7%;
  font-size: 1.1em;
}

.download {
  display: grid;
  grid-template-columns: 14% 86%;
  align-items: center;
  padding-left: 4%;
  min-height: 64px;
  border-bottom: 2px solid black;
}

.category {
  display: flex;
  text-align: start;
  flex-direction: column;
  height: 100%;
}

.category button {
  min-height: 62px;
  max-height: 62px;
  text-align: start;
  padding-left: 3%;
  border: none;
  flex: 100%;
  background-color: transparent;
  border-left: 6px solid transparent;
  color:white;
  font-size: 1em;
}

.category .buttonActive {
  border-left: 6px solid red;
  color:white;
}


#search {
  width: 100%;
  max-width: 120px;
  display: grid;
  grid-template-columns:auto auto ;
  align-items: center;
}

.imgSearchNav, .menu_points {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
#hiddenNav {
  opacity: 0;
}
.activeSearch {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

#activeSearch {
  width: 98%;
  margin:0 auto;
  display: grid;
  grid-template-columns: 6% 94%;
  padding-top:20px;
  padding-bottom:10px;
}

.backHiddenSearch {
  justify-self: flex-start;
  min-width: 38px;
}

.hiddenSearchIcon {
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 80%;
  max-width: 400px;
}
.hiddenSearchIcon input {
  border:2px solid rgba(255, 0, 255, 0.712);
  width: 80%;
  padding-left: 2%;
  background-color: rgba(0, 0, 0, 0.8);
  color:white;
}

.hiddenSearchIcon input::placeholder {
  color:#a8a5a5;
  padding-left: 3%;
}

.hiddenSearchIcon input:focus, .hiddenSearchIcon input:active {
  padding-left: 2%;
}

.hiddenSearchIcon input:focus::placeholder, .hiddenSearchIcon input:active::placeholder {
  color: #a8a5a5;
  padding-left: 3%;
}
.menu_points {
  position: relative;
}

#menu_points {
  position: absolute;
  top:100%;
  right:0px;
  width: 280%;
}

#menu_pointsActive {
  background-color: #292929;
}

#menu_points div {
  background-color: #292929;
  width: 100%;
 display: grid;
 grid-template-columns: 100%;
 grid-template-rows: 50% 50%;
}

#menu_points div p {
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10%;
  cursor: default;
}

#menu_points div p:hover {
  background-color: #474747;
}


/* list Movies */
.back {
  margin-top: -74px;
}
.movieBack {
  padding-top: 110px;
  padding-bottom: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta {
  width: 90%;
  color:white;
}

.cta h1 {
  margin: 0;
  font-size: 2em;
  padding-bottom: 60px;
  cursor: default;
}

.cta h2 {
  font-size: 1.4em;
  cursor: default;
  
}

.cta div {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 2%;
  padding-bottom: 30px;
}

.cta button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color:white;
  background-color: rgba(41, 41, 41, 0.6);
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
}

.cta button:hover {
  background-color: rgba(41, 41, 41, 0.4);
}

.cta p {
  width: 80%;
  font-size: 1.2em;
  cursor: default;
  font-weight: 500;
}

.cta button img {
  width: 100%;
  max-width: 30px;
  margin-right: 20px;
}

/* slider */
.slider {
  position: relative;
  max-width: 98%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.slider:hover > .prev, .slider:hover > .next {
  opacity: 1;
}

.titleListMovie {
  color:white;
  width: 98%;
  margin:0 auto;
}

.titleListMovie h3 {
  margin: 0;
  padding-bottom: 10px;
  font-size: 1.3em;
}

.titleListMovieTwo h3 {
  padding-top: 10px;
}

.sliderCards {
  width: 100%;
}

.prev, .next {
  position: absolute;
  top:0%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  min-height: 200px;
  opacity: 0;
  width: 10%;
  max-width: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.5s;
}

.prev  {
 left: 0px;
 background-image: url('/arrow_left.svg');
}

.next {
  right: 0;
  background-image: url('/arrow_right.svg');
}

.activeSlider {
  display: none;
  transition: all 0.5s;
}

.sliderCards {
  display: grid;
  grid-template-columns:  auto auto auto auto auto auto auto auto;
  text-align: center;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  overflow: hidden;
}

.cardMovie, .cardMovieTwo, .cardMovieFour {
  display: none;
  max-width: 220px;
  max-height: 300px;
  min-width: 130px;
}

.cardMovie img, .cardMovieTwo img, .cardMovieThree img, .cardMovieFour img {
  width: 100%;
  height: 100%;
}

.cardMovieThree {
  display: none;
  max-width: 330px;
  max-height: 230px;
  min-width: 270px;
}

.cardMoviePlay {
  width: 100%;
}

.cardMoviePlayInfo {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  align-items: center;
}

.cardMoviePlayInfo div {
  display: flex;
  justify-content: flex-end;
}

.cardMoviePlay div img {
  width: 100%;
  max-height: 32px;
  max-width: 36px;
}

.cardMovieThree p {
  color:white;
  margin:0;
  padding: 0px;
  text-align: start;
  font-size: 1.1em;
}

.slideThree .prev{
  z-index: 100;
}

.cardMoviePlay {
  position: relative;
}

#cardMovieIcon {
  position: absolute;
  width: 100%;
  height: 83%;
  top: 0;
  left: 0;
}

.carMovieIconImg {
  width: 100%;
  height: 98%;
  max-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carMovieIconImg img {
  min-width: 68px;
  min-height: 48px;
}

.carMovieBar {
  height: 2%;
  background-color: #e61325;
}

.cardMoviePlayMainImg {
  min-height: 150px;
}

/* details Movie */
.searchDetail .detailsMovie {
  background-color: rgba(0, 0, 0, 0.0);
}

.searchDetail .recomends {
  max-width: 100%;
  grid-template-columns: 50% 50%;
}
.detailsMovie {
  position: fixed;
  width: 100%;
  height: 100vh;
  top:0;
  background-color: rgba(0, 0, 0, 0.6);
  left:0;
  z-index: 100;
  display: flex;
  justify-content: center;
}

.detailsMovie {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#detailsMovie {
  width: 40%;
  background-color: #292929;
  overflow-y: scroll;
  min-width: 360px;
  margin:0 auto;
  margin-top:10px ;
}

.closeDetailMovieBack {
  text-align: end;
  padding-right: 6px;
  padding-top: 10px;
  padding-bottom: 4px;
  flex: 100%;
  align-self: flex-start;
}

.closeDetailMovieBack img {
  width: 100%;
  max-width: 38px;
  min-height: 38px;
}

.playDetailMovieBack {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playDetailMovieBack img {
  max-width: 50px;
}

.detailsMovieBack {
  display: flex;
  flex-wrap: wrap;
}

.detailsMovieBack h2 {
  align-self: flex-end;
  width:94%;
  margin:0 auto;
  text-align: start;
  padding-bottom: 10px;
  color:white;
}

.detailsMovieInfo {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}

.forYou {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  text-align: start;
  font-size: 1.1em;
  color:#a8a5a5;
  max-width: 310px;
}

.forYou p:first-child {
  color:rgb(83, 207, 83);
}
.forYou img {
  max-width: 38px;
}
.like {
  display: flex;
  padding-bottom: 50px;
  color:white;
  text-align: center;
}
.like img {
  max-width: 38px;
}

.add, .dislike {
  padding-right: 20px;
}

.dislike {
  padding-left: 20px;
}

.review {
  color: #a8a5a5;
  text-align: start;
  padding-top: 10px;
  font-size: 1.1em;
}

.recomends {
  display: grid;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
}

.searchDetail {
  background-color: black;
  overflow: hidden;
}

.searchDetail .activeSearch{
  background-color: transparent;
  z-index: 0;
  height: 100%;
}

.searchSuggestions {
  display: grid;
  grid-template-columns: 100%;
  width: 90%;
  margin:0 auto;
  height: 100%;
  padding-top: 10px;
}

.cardSearchDetail {
  color:white;
  position: relative;
  z-index: 100;
  height: 100%;
  padding-bottom: 40px;
  transition: all 0.5s;
}


.cardSearchDetails {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
}

.searchSuggestions h1 {
  width: 100%;
  font-size: 1.8em;
}

.cardSearchDetailImg img {
  width: 100%;
  max-height: 380px;
}

.suggestions {
  color:white;
  padding-left: 0%;
  padding-bottom: 80px;
}

.suggestions h2 {
  padding-bottom: 10px;
  font-size: 1.8em;
}

.suggestions p {
  padding-top: 20px;
  font-size:1.2em;
}

.loading {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 14px 14px 14px 14px 14px;
  grid-column-gap: 10px;
  justify-content: center;
}

.loading div {
  height: 14px;
  border-radius: 50%;
  background-color: red;
}

.loading div:nth-child(1) {
  animation: loading 0.5s ease-in-out forwards;
  animation-iteration-count: 3;
}

.loading div:nth-child(2) {
  animation: loading 1.5s ease-in-out forwards;
  animation-delay: 0.5s;
  animation-iteration-count: 3;
}

.loading div:nth-child(3) {
  animation: loading 1.5s ease-in-out forwards;
  animation-delay: 1s;
  animation-iteration-count: 3;
}

.loading div:nth-child(4) {
  animation: loading 2s ease-in-out forwards;
  animation-delay: 1.5s;
  animation-iteration-count: 3;
}

.loading div:nth-child(5) {
  animation: loading 2.5s ease-in-out forwards;
  animation-delay: 2s;
  animation-iteration-count: 3;
}


@keyframes loading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animationLogo {
  from {
    width: 100%;
    height: 100vh;
    display: flex;
  } to {
    display: none;
    opacity: 0;
    width: 0%;
    visibility: hidden;
    overflow: hidden;
  }
}

@keyframes animationOpacity {
 0% {
   opacity: 0;
 } 
 50% {
   opacity: 0.2;
 }

 100% {
   opacity: 1;
 }
}

@media screen and (min-width:600px) {
  .logo {
    justify-content: flex-start;
  }

  .animationMobil {
    display: block;
  }

  .nLogo {
    left: 0;
  }

  .titleUser {
    text-align: center;
  }

  #showCardUser {
    width: 50%;
    margin:0 auto;
    grid-template-columns: 150px 150px 150px;
  }

  #menuMobileContainer {
    width: 24%;
  }

  .searchDetail {
    height: 100vh;
  }

  .searchSuggestions {
    display: grid;
    grid-template-columns: 80% 20%;
    width: 98%;
    margin:0 auto;
    padding-top: 0;
    height: 100%;
  }

  .cardSearchDetails {
    display: grid;
    height: 100%;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 10px;
    padding-bottom: 80px;
  }

  .searchSuggestions h1 {
    width: 100%;
    font-size: 2em;
  }

  .suggestions {
    padding-left: 4%;
    padding-bottom: 0px;
  }

  .suggestions h2 {
    padding-bottom: 10px;
    font-size: 2em;
  }

  .suggestions p {
    padding-top: 20px;
    font-size:1.4em;
  }

  @media screen and (min-width:800px) {
    #showCardUser {
      grid-template-columns: 150px 150px 150px 150px;
   }

   .userMovies .nav {
     padding-left: 0;
     padding-right: 0;
   }

   .userMovies .logoNav {
     padding-left: 1%;
     grid-template-columns: 7% 93%;
   }

  .cardMovie, .cardMovieTwo, .cardMovieFour {
    max-width: 220px;
    max-height: 300px;
    min-width: 200px;
  }

  .cardMovieThree {
    max-width: 330px;
    max-height: 230px;
    min-width: 310px;
  }

  .carMovieIconImg img {
    min-height: 68px;
  }

  .carMovieIconImg {
    max-height: 178px;
  }

  .cardMoviePlayMainImg {
    min-height: 181px;
  }

  .editBack h2 {
    font-size: 1.5em;
  }

  .editBack img {
    max-width: 30px;
  }

  .editCheck div span img {
    width: 100%;
    max-width: 30px;
  }

  .editUserBody {
    grid-template-columns: 50%;
  }

  #editUserBody {
    display: grid;
    grid-template-columns: 30% 70%;
    max-width: 500px;
    margin:0 auto;
  }

  .switch {
    padding-top: 10px;
    grid-template-columns: 20% 70%;
  }
  

  .cardSearchDetails {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 10px;
    padding-bottom: 80px;
  }

  .suggestions p {
    padding-top: 20px;
    font-size:1.8em;
  }
  
  }

  @media screen and (min-width:1000px) {
    #showCardUser {
      grid-template-columns: 150px 150px 150px 150px 150px;
   }

   .cardSearchDetail:hover {
    overflow-y: scroll;
  }

  .movieBack {
    padding-top: 210px;
    padding-bottom: 210px;
  }


  .cta h1 {
   font-size: 3.5em;
   padding-bottom: 120px;
 }

 .cta h2 {
   font-size: 2.2em;
 }

 .cta p {
   font-size: 1.6em;
   width: 50%;
   font-weight: 500;
 }

 .cta div {
   display: grid;
   grid-template-columns: 14% 14%;
   grid-column-gap: 10px;
 }

 .cta button {
   font-size: 1.3em;
 }

  }


}